on:
  workflow_dispatch:
    inputs:
      mc_version:
        type: string
        default: "1."

jobs:
  test_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/setup-java@v4.0.0
        with:
          distribution: microsoft
          java-version: 21
          java-package: jdk
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11' 
      - name: git config
        run: |
          git config --global user.name actions-user
          git config --global user.email actions@github.com
      - name: get python script
        run: |
          mkdir temp1
          cd temp1
          git init
          git remote add origin https://x-access-token:${{ github.token }}@github.com/$GITHUB_REPOSITORY
          git fetch origin
          git reset --hard origin/main
          mv blockstate_datapack_generator.py ..
          mv .github/workflows/run.py ..
      - name: run python script and push
        run: |
          mkdir temp2
          cd temp2
          git init
          git remote add origin https://x-access-token:${{ github.token }}@github.com/$GITHUB_REPOSITORY
          git fetch origin
          git reset origin/datapack-preview
          mv ../blockstate_datapack_generator.py .
          mv ../run.py .
          python blockstate_datapack_generator.py ${{ inputs.mc_version }}
          python run.py ${{ inputs.mc_version }}
          rm -f blockstate_datapack_generator.py
          rm -f run.py
          mv BlockState_${{ inputs.mc_version }}.zip ..
          git add --all
          git commit -m "${{ inputs.mc_version }}" || true
          rm -rf .git
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: BlockState_${{ inputs.mc_version }}
          path: temp2
          retention-days: 3
